*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #111;
}

h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
    font-family: 'Heebo', sans-serif;

}

.styling{
    font-weight: 800;
    color: lime;
}
.input_div{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

/* .input_div .input{
    
} */

.input{
    padding: 0.5rem 1 rem;
    height: 50px;
    width: 450px;
    outline: none;
    background-color: #fff;
    font-size:1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    text-align: center;
}

.addButton{
    height: 50px;
    width: 50px;
    border-radius:25px;
    outline:none;
    border:none;
    background-color: #fff;
    color: #fff; 
    margin: 0.25px;
    background-color:lime;
    cursor: pointer;
}

.addButton:hover{
    opacity: 0.7;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-top: 2rem;
    width: 98%;
    

}
.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #fff;
    width: 450px;
    display: flex;
    justify-content: flex-end;

}
.item_p{
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.item_input{
    background: none;
    outline: none;
    color : #fff;
    border: none;
    width: 550 px;
    font-size: 1.4rem;
}

.editButton {
    font-size: 1.4rem;
    font-family: 'Heebo', sans-serif;
    background: none;
    outline: none;
    color: lime;
    border: none;
    cursor: pointer;
    margin-right: 1rem;

}
.removeButton{
    font-size: 1.4rem;
    font-family: 'Heebo', sans-serif;
    background: none;
    outline: none;
    color: red;
    border: none;
    cursor: pointer;
}

   